*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
@media (min-width:1200px) {
    .container{
        max-width: 1200px !important;
    }
}
.navbar{
    position: relative;
    padding: 1.2rem 0;
    background: #f5f5f5;
    overflow: hidden;
    margin-bottom: .5rem;
}
.navbar::after{
    content: '';
    position: absolute;
    background: #f7161a;
    width: 62%;
    height: 100%;
    z-index: 0;
    right: 0;
}
.navbar::before{
    content: '';
    position: absolute;
    background: #f7161a;
    display: block;
    height: 100%;
    width: 90px;
    left: 35%;
    transform: rotate(226deg);
}
.img-wrap {
    position: relative;
    height: auto;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 56.25%;
}
.img-wrap img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    transform: translateZ(0);
    margin: 0 auto;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
}
.navbar,
.navbar .leftbar,
.navbar .rightbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
}
.navbar .leftbar .logo{
    text-decoration: none;
    color: #f7161a;
    font-size: 2rem;
    font-weight: 700;
}
.navbar .leftbar .search{
    margin-left: 1.5rem;
}
.navbar .leftbar .search input{
    border-radius: 1.05rem 0 0 1.05rem;
    border: 1px solid #ffffff;
}
.navbar .leftbar .search input:focus{
    box-shadow: unset;
}
.navbar .leftbar .search .input-group-text{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #f7161a;
    border-radius: 0 1.05rem 1.05rem 0;
    
}
.navbar .rightbar{
    flex: .9;
}
.navbar .rightbar a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    position: relative;
}
.navbar .rightbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    opacity: 0;
    width: 0rem;
    height: 0rem;
    transition: width .5s, opacity .5s, box-shadow .5s .5s;
    background-color: white;
}
.navbar .rightbar a:hover:before {
    width: 100%;
    height: 0.15rem;
    box-shadow: none;
    opacity: 1;
}
.navbar .rightbar a i{
    font-size: 1.2rem;
}

/* slide */
/* prev next */
.w-banner .tab-content .img-wrap{
    padding-top: 50.25%;
}
.w-banner .tab-content .slick-prev::before,
.w-banner .tab-content .slick-next::before {
    display: none;
}
.w-banner .tab-content .slick-prev{
   left: 20px;
   z-index: 9999;
}
.w-banner .tab-content .slick-next{
    right: 20px;
}
.w-banner .tab-content .slick-prev,
.w-banner .tab-content .slick-next {
    background: unset;
}
.w-banner .tab-content .slick-prev i,
.w-banner .tab-content .slick-next i {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 800;
}

/* .w-banner */
.w-banner .nav-pills{
    background: #f5f5f5;
}
.w-banner .nav-pills .nav-item{
    width: max-content !important;
}
.w-banner .nav-pills .nav-link{
    border-radius: unset;
    padding: 0.7rem 1rem;
}
/* .w-banner .nav-pills .nav-link.active{
    background: #f7161a;
} */
.w-banner .nav-pills .nav-link:nth-child(1),
.w-banner .nav-pills .nav-link:nth-child(2),
.w-banner .nav-pills .nav-link:nth-child(3){
    background: #f5f5f5;
    color: #000;
}
.w-banner .nav-pills .nav-link.active:nth-child(1),
.w-banner .nav-pills .nav-link.active:nth-child(2),
.w-banner .nav-pills .nav-link.active:nth-child(3){
    background: #f7161a;
    color: #ffffff;
}
/*  */
.w-banner .title{
    display: flex;
    align-items: center;
    background: #f5f5f5;
    gap: 1rem;
    color: #f7161a;
    margin-bottom: 1rem;
}
.w-banner .title .bgIcon{
    padding: 0.5rem 0.7rem;
    background: #f7161a;
    color: #ffffff;
    position: relative;
}
.w-banner .title .bgIcon::before{
    content: '';
    position: absolute;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #f7161a transparent;
    top: 50%;
    right: -25px;
    transform: rotate(90deg) translate(-50%);
}
.w-banner .contentService .item{
    display: flex;
    margin-bottom: 1rem;
}
.w-banner .contentService .item .img-wrap{
    width: 45%;
    padding-top: 17.25%;
}
.w-banner .contentService .item img{
    transition: 0.4s ease-in-out;
}
.w-banner .contentService .item:hover a{
    color: #f7161a;
}
.w-banner .contentService .item:hover img{
    transform: scale(1.2);
}
.w-banner .contentService .content{
    padding-left: 1rem;
}
.w-banner .contentService .content a{
    color: #000;
}
.w-banner .contentService .icon{
    color: #999999;
}
.w-banner .contentService .icon span{
    margin-left: 0.3rem;
}
.w-banner .advertisement{
    padding-top: 30.25%;
    cursor: pointer;
}
/* w-listBox */
.w-listBox .listBox{
    display: grid;
    grid-auto-flow: row dense;
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.w-listBox .listBox .itemBox{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
     rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    padding: 1rem;
    margin-right:.6rem ;
    border-radius: 10px; 
}
.w-listBox .listBox .itemBox:last-child{
    margin-right: 0;
}
.w-listBox .listBox .itemBox img{
    object-fit: cover;
    width: 100px;
    height: 100px;
}
.w-listBox .listBox .itemBox h5{
    font-weight: 600;
    color: #444444;
    margin: 1rem 0;
}
.w-listBox .listBox .itemBox p{
    margin: 0;
} 

/* w-listProduct */
.w-listProduct{
    background: #f8f9fa;
}
.w-listProduct .listProduct{
    border: 1px solid #f7161a;
    padding: .5rem;
    padding-top: 4rem;
    margin-top: 5rem;
    text-align: center;
    position: relative;
}
.w-listProduct .listProduct .title{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    background: #f7161a;
    width: max-content;
    padding: 0.6rem 1.5rem;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
}
.w-listProduct .listProductOutstanding .boxProduct{
    background: #ffffff;
    margin: 0 0.2rem;
    cursor: pointer;
    padding: 1.5rem;
}
.w-listProduct .listProductOutstanding .boxProduct .imgs{
    position: relative;
    overflow: hidden;
    display: block;
}
.w-listProduct .listProductOutstanding .boxProduct .imgTwo{
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    top: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
    object-fit: cover;
}
.w-listProduct .listProductOutstanding .boxProduct .imgOne{
    transform: scale(1);
    transition: all .4s ease-in-out;
    object-fit: cover;
}
.w-listProduct .listProductOutstanding .boxProduct:hover .imgOne{
    transform: scale(0);
}
.w-listProduct .listProductOutstanding .boxProduct:hover .imgTwo{
    left: 0;
    visibility: visible;
}
.w-listProduct .listProductOutstanding .boxProduct a{
    overflow: hidden;
}
.w-listProduct .listProductOutstanding .boxProduct h6 a{
    color: #000;
}
.w-listProduct .listProductOutstanding .boxProduct .contact{
    color: #f7161a;
    font-weight: 600;
}
/* listSeriesPhone */
.w-listProduct h2{
    font-size: 1.3rem;
    margin: 2.5rem 0 1rem;
    font-weight: 700;
}
.w-listProduct .listSeriesPhone{
    display: grid;
    grid-auto-flow: row dense;
    max-width: 100%;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.2rem;
    text-align: center;
}
.w-listProduct .listSeriesPhone .boxProduct{
    background: #ffffff;
    cursor: pointer;
    padding: 1.5rem;
}
.w-listProduct .listSeriesPhone .boxProduct .imgs{
    position: relative;
    overflow: hidden;
    display: block;
}
.w-listProduct .listSeriesPhone .boxProduct .imgTwo{
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    top: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
    object-fit: cover;
}
.w-listProduct .listSeriesPhone .boxProduct .imgOne{
    transform: scale(1);
    transition: all .4s ease-in-out;
    object-fit: cover;
}
.w-listProduct .listSeriesPhone .boxProduct:hover .imgOne{
    transform: scale(0);
}
.w-listProduct .listSeriesPhone .boxProduct:hover .imgTwo{
    left: 0;
    visibility: visible;
}
.w-listProduct .listSeriesPhone .boxProduct a{
    overflow: hidden;
}
.w-listProduct .listSeriesPhone .boxProduct h6 a{
    color: #000;
}
.w-listProduct .listSeriesPhone .boxProduct .contact{
    color: #f7161a;
    font-weight: 600;
}
/* listReoairService */
.listReoairService {
    display: grid;
    grid-auto-flow: row dense;
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.9rem 1.4rem;
    margin-bottom: 3rem;
}
.listReoairService .boxService{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    overflow: hidden;
    cursor: pointer;
}
.listReoairService .boxService a img{
    transform: scale(1);
    transition: 0.4s ease-in-out;
}
.listReoairService .boxService:hover a img{
    transform: scale(1.2);
}
.listReoairService .boxService:hover h4 a{
    color: #f7161a;
}
.listReoairService .contentService {
    padding: 1rem 0.4rem;
}
.listReoairService .contentService h4{
    font-size: 1.25rem;
    color: #000;
}
.listReoairService .contentService h4 a{
    color: #000;
}
.listReoairService .contentService .day,
.listReoairService .contentService .type{
    color: #999999;
}
.listReoairService .contentService span{
    margin-left: .5rem;
}

/* w-listFeedback */
.w-listFeedback h2{
    font-size: 1.3rem;
    margin: 0 0 1rem;
    font-weight: 700;
}
.w-listFeedback .listFeedback .slick-list{
    margin: 0 -.7rem;
}
.w-listFeedback .listFeedback .box{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:0 1rem ;
}
.w-listFeedback .listFeedback .box .feedback {
    background: #dc1c29;
    color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    position: relative;
}
.w-listFeedback .listFeedback .box .feedback::before{
    content: '';
    position: absolute;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #dc1c29 transparent;
    bottom: -28px;
    left: 50%;
    transform: rotateX(180deg) translateX(-50%);
}
.w-listFeedback .listFeedback .box .image img{
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
    margin:0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.w-listFeedback .listFeedback .box h6{
    margin-top: .7rem;
}
.w-listFeedback .listFeedback .box .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    gap: .5rem;
}



/* w-listContact */
.w-listContact{
    background: #e5e5e5;
    padding: .6rem 0;
}
.w-listContact .item{
    display: flex;
    align-items: center;
}
.w-listContact .item .icon{
    margin-right: 1rem ;
    color: #f7161a;
    font-size: 2rem;
}
.w-listContact .item h6{
    color: #f7161a;
    font-weight: 700;
}
.w-listContact .item  p{
    margin: 0;
    color: #5b5b5b;
    font-weight: 700;
}



/* footer */
footer{
    padding: 1.5rem 0;
}
footer h2{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
footer ul li{
    display: flex;
    align-items: center;
    margin-bottom: .6rem;
}
footer ul li .bgIcon{
    border-radius: 50%;
    border: 1px solid #f7161a;
    padding: 0.4rem 0.7rem;
    color: #f7161a;
    margin-right: .6rem;
}
footer ul li p{
    margin: 0;
}
footer ul.policy{
    list-style-type: square !important;
}
footer .policy li{
    margin-bottom: .8rem;
}
footer .policy li::marker{
    content: '.';
    font-size: .7rem;
    color: #f7161a;
}
footer .policy a{
    color: #000;
}
.copyright{
    background: #dc1c29;
    text-align: center;
    color: #ffffff;
    padding: .6rem 0;
}